<% layout("/layouts/boilerplate")%>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const coordinates = JSON.parse(
    "<%- JSON.stringify(show.geometry.coordinates) %>"
  );
</script>
<body>
  <div class="show-container">
    <h1 style="font-size: 2rem"><%= show.title %></h1>
    <div class="show-card">
      <img
        src="<%= show.image.url %>"
        class="card-img-top"
        style="width: 40rem; height: 18rem; margin-bottom: 2rem"
      />
      <p class="card-text"><b><%= show.owner.username %></b></p>
      <div class="card-body">
        <p class="card-text"><%= show.description %></p>
        <b
          ><p class="card-text">
            &#8377; <%= show.price.toLocaleString("en-IN") %>
          </p></b
        >
        <p class="card-text"><%= show.location %></p>
        <p class="card-text"><%= show.country %></p>
        <div class="row btn-box">
          <% if(currentUser && currentUser._id.equals(show.owner._id)) { %>
          <form
            action="/listings/<%=show._id%>/edit"
            method="GET"
            class="col-1 mx-0 px-0"
          >
            <button class="btn btn-primary border-0 edit-btn">Edit</button>
          </form>
          <form
            action="/listings/<%=show._id%>?_method=DELETE"
            method="POST"
            class="col mx-0 px-0"
          >
            <button class="btn btn-primary border-0 delete-btn">Delete</button>
          </form>
          <% } %>
          <hr />
          <div class="col-12">
            <% if(currentUser){ %>
            <h4>Leave a Review</h4>
            <form
              action="/listings/<%= show._id %>/reviews"
              method="POST"
              novalidate
              class="needs-validation"
            >
              <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                  <input
                    type="radio"
                    id="no-rate"
                    class="input-no-rate"
                    name="review[rating]"
                    value="1"
                    checked
                    aria-label="No rating."
                  />
                  <input
                    type="radio"
                    id="first-rate1"
                    name="review[rating]"
                    value="1"
                  />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input
                    type="radio"
                    id="first-rate2"
                    name="review[rating]"
                    value="2"
                  />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input
                    type="radio"
                    id="first-rate3"
                    name="review[rating]"
                    value="3"
                  />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input
                    type="radio"
                    id="first-rate4"
                    name="review[rating]"
                    value="4"
                  />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input
                    type="radio"
                    id="first-rate5"
                    name="review[rating]"
                    value="5"
                  />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>
              <div class="mb-3 mt-3">
                <Label for="comment" class="form-label">Comments</Label>
                <textarea
                  name="review[comment]"
                  id="comment"
                  col="5"
                  rows="5"
                  class="form-control"
                  placeholder="Write a comment"
                  class="needs-validation"
                  required
                ></textarea>
                <div class="invalid-feedback">Please Leave a comment</div>
                <br />
                <button class="btn btn-outline-dark">Submit Review</button>
              </div>
            </form>
            <hr />
            <% } %>
            <div class="row">
              <% if(show.reviews.length >0){ %>
              <h3>All reviews</h3>
              <% } %> <% for(let review of show.reviews) { %>

              <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                  <h5 class="card-title"><%= review.author.username %></h5>
                  <p
                    class="starability-result"
                    data-rating="<%= review.rating %>"
                  ></p>
                  <p class="card-text"><%= review.comment %></p>
                  <% if(currentUser &&
                  currentUser._id.equals(review.author._id)){ %>
                  <form
                    class="mb-3"
                    method="POST"
                    action="/listings/<%= show._id %>/reviews/<%= review._id %>?_method=DELETE"
                  >
                    <button class="btn btn-sm btn-dark">Delete Review</button>
                  </form>
                  <% } %>
                </div>
              </div>

              <% } %>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h3>Where You'll Be</h3>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</body>
